<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Buddy</th>
      <th>Birthday</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% dogs.forEach(function(m) { %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.birthday %></td>
        <td><a href="/dogs/<%= m._id %>">PLAY</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
