<%- include('../partials/header') %>

<div class="card-container">
  <% dogs.forEach(function(m) { %>
    <div class="card">
      <div class="card-header">
        <%= m.name %>
      </div>
      <div class="card-content">
        <p>Birthday: <%= m.birthday %></p>
        <a href="/dogs/<%= m._id %>">PLAY</a>
        <a href="/dogs/<%= m._id %>/edit">Edit Dog</a>
      </div>
    </div>
  <% }); %>
</div>

<%- include('../partials/footer') %>
